# **Lab 2.2: Preprocessing**

<hr>

## **1. Objective**
In this lab, we will download a dataset, analyze it, and clean it for use in future labs.

### **Pandas Library**
It is considered the most popular data analysis library in Python.
It performs all its operations using a *"DataFrame"* object.

It allows, among other operations:  

* Loading and storing data in different formats (csv, tsv, xlsx, txt...).  
* Manipulating rows, columns, and cells.  
* Filtering or grouping content.  
* Performing intersection, concatenation, or merging of multiple DataFrames.  

To install it:

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\carla\miniconda3\envs\ssii\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

<div class="alert alert-block alert-warning">  
    <strong>NOTE:</strong> The exclamation mark before the code indicates to Jupyter that this is not Python and should be executed in the terminal. This allows us to install libraries directly from the notebook.
</div>

<hr>

## **2. Exploratory Data Analysis (EDA)**

The main objectives of this analysis are:
* Understand the data we will be working with.
* Clean the dataset:
  * Remove empty rows or columns.
  * Eliminate inconsistent values.

Our dataset contains information about a race from the 2023 Formula 1 season.
Next, we will download the data and analyze it using the Pandas library.

In [2]:
import pandas as pd

url_data = 'https://raw.githubusercontent.com/AIC-Uniovi/Sistemas-Inteligentes/refs/heads/main/datasets/f1_23_monaco.csv'
data = pd.read_csv(url_data)

**Description of Dataset Columns**

| Column               | Description |
|----------------------|------------|
| `Time`              | Total elapsed time in the session. |
| `Driver`            | Three-letter driver code. |
| `DriverNumber`      | Driver's race number. |
| `LapTime`           | Total lap time. |
| `LapNumber`         | Lap number in the session. |
| `Stint`             | Current stint number (period between pit stops). |
| `PitOutTime`        | Time when the driver exited the pit lane. |
| `PitInTime`         | Time when the driver entered the pit lane. |
| `Sector1Time`       | Time recorded in the first sector of the lap. |
| `Sector2Time`       | Time recorded in the second sector of the lap. |
| `Sector3Time`       | Time recorded in the third sector of the lap. |
| `SpeedI1`           | Speed measured at the first detection point. |
| `SpeedI2`           | Speed measured at the second detection point. |
| `SpeedFL`           | Speed at the finish line. |
| `SpeedST`           | Maximum speed in the sector. |
| `IsPersonalBest`    | Indicates if the lap is the driver's personal best (`True`/`False`). |
| `Compound`          | Type of tire compound used. |
| `TyreLife`          | Number of laps the tire has been used. |
| `FreshTyre`         | Indicates if the tire was new at the start of the lap (`True`/`False`). |
| `Team`              | Driver's team name. |
| `LapStartTime`      | Lap start time within the session. |
| `LapStartDate`      | Exact date and time of lap start. |
| `TrackStatus`       | Track condition during the lap (e.g., yellow flag, green flag, etc.). |
| `Position`          | Driver's position at the end of the lap. |
| `Deleted`           | Indicates if the lap was deleted (`True`/`False`). |
| `DeletedReason`     | Reason why the lap was deleted (if applicable). |
| `IsAccurate`        | Indicates if the lap data is accurate (`True`/`False`). |

### **Basic Operations**

In [3]:
data

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:03:27.458000,VER,1,0 days 00:01:24.238000,1.0,1.0,NaN,NaN,NaN,0 days 00:00:37.420000,...,1.0,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,1.0,False,NaN,False
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2.0,1.0,NaN,NaN,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2.0,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1.0,False,NaN,True
2,0 days 01:06:05.899000,VER,1,0 days 00:01:19.074000,3.0,1.0,NaN,NaN,0 days 00:00:20.854000,0 days 00:00:37.288000,...,3.0,True,Red Bull Racing,0 days 01:04:46.825000,2023-05-28 13:05:47.802,1,1.0,False,NaN,True
3,0 days 01:07:24.028000,VER,1,0 days 00:01:18.129000,4.0,1.0,NaN,NaN,0 days 00:00:20.835000,0 days 00:00:36.637000,...,4.0,True,Red Bull Racing,0 days 01:06:05.899000,2023-05-28 13:07:06.876,1,1.0,False,NaN,True
4,0 days 01:08:42.047000,VER,1,0 days 00:01:18.019000,5.0,1.0,NaN,NaN,0 days 00:00:20.745000,0 days 00:00:36.734000,...,5.0,True,Red Bull Racing,0 days 01:07:24.028000,2023-05-28 13:08:25.005,1,1.0,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,0 days 02:45:26.431000,PIA,81,0 days 00:01:27.443000,73.0,2.0,NaN,NaN,0 days 00:00:23.295000,0 days 00:00:42.212000,...,19.0,True,McLaren,0 days 02:43:58.988000,2023-05-28 14:44:59.965,1,10.0,False,NaN,True
1509,0 days 02:46:52.616000,PIA,81,0 days 00:01:26.185000,74.0,2.0,NaN,NaN,0 days 00:00:22.381000,0 days 00:00:42.112000,...,20.0,True,McLaren,0 days 02:45:26.431000,2023-05-28 14:46:27.408,1,10.0,False,NaN,True
1510,0 days 02:48:18.759000,PIA,81,0 days 00:01:26.143000,75.0,2.0,NaN,NaN,0 days 00:00:22.061000,0 days 00:00:42.272000,...,21.0,True,McLaren,0 days 02:46:52.616000,2023-05-28 14:47:53.593,1,10.0,False,NaN,True
1511,0 days 02:49:44.374000,PIA,81,0 days 00:01:25.615000,76.0,2.0,NaN,NaN,0 days 00:00:21.991000,0 days 00:00:41.496000,...,22.0,True,McLaren,0 days 02:48:18.759000,2023-05-28 14:49:19.736,1,10.0,False,NaN,True
1512,0 days 02:51:09.159000,PIA,81,0 days 00:01:24.785000,77.0,2.0,NaN,NaN,0 days 00:00:21.970000,0 days 00:00:40.944000,...,23.0,True,McLaren,0 days 02:49:44.374000,2023-05-28 14:50:45.351,1,10.0,False,NaN,True

In [4]:
# Column names
data.columns

Index(['Time', 'Driver', 'DriverNumber', 'LapTime', 'LapNumber', 'Stint',
       'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Team', 'LapStartTime',
       'LapStartDate', 'TrackStatus', 'Position', 'Deleted', 'DeletedReason',
       'IsAccurate'],
      dtype='object')

In [5]:
# Column types
data.dtypes

Time               object
Driver             object
DriverNumber        int64
LapTime            object
LapNumber         float64
Stint             float64
PitOutTime         object
PitInTime          object
Sector1Time        object
Sector2Time        object
Sector3Time        object
SpeedI1           float64
SpeedI2           float64
SpeedFL           float64
SpeedST           float64
IsPersonalBest       bool
Compound           object
TyreLife          float64
FreshTyre            bool
Team               object
LapStartTime       object
LapStartDate       object
TrackStatus         int64
Position          float64
Deleted              bool
DeletedReason      object
IsAccurate           bool
dtype: object

In [6]:
# Number of columns
len(data.columns)

27

In [7]:
# Number of rows
len(data)

1513

In [8]:
# Get basic statistics for the entire dataset  
data.describe()

,DriverNumber,LapNumber,Stint,SpeedI1,SpeedI2,SpeedFL,SpeedST,TyreLife,TrackStatus,Position
count,1513.000000,1513.000000,1513.000000,1391.000000,1513.000000,1476.000000,1513.000000,1513.000000,1513.000000,1513.000000
mean,28.438863,38.523463,1.775942,175.464414,173.806345,257.080623,272.918705,19.269002,2.851950,10.262393
std,23.285504,22.125804,0.942474,28.337102,21.097378,7.230135,13.549024,13.872089,4.798371,5.671148
min,1.000000,1.000000,1.000000,90.000000,79.000000,187.000000,157.000000,1.000000,1.000000,1.000000
25%,11.000000,19.000000,1.000000,151.000000,162.000000,256.000000,271.000000,8.000000,1.000000,5.000000
50%,22.000000,38.000000,1.000000,189.000000,184.000000,258.000000,278.000000,16.000000,1.000000,10.000000
75%,44.000000,57.000000,2.000000,197.000000,189.000000,259.000000,280.000000,28.000000,1.000000,15.000000
max,81.000000,78.000000,6.000000,212.000000,197.000000,272.000000,288.000000,56.000000,21.000000,20.000000

In [9]:
# Find columns with missing values
data.isnull().any()

Time              False
Driver            False
DriverNumber      False
LapTime            True
LapNumber         False
Stint             False
PitOutTime         True
PitInTime          True
Sector1Time        True
Sector2Time       False
Sector3Time       False
SpeedI1            True
SpeedI2           False
SpeedFL            True
SpeedST           False
IsPersonalBest    False
Compound          False
TyreLife          False
FreshTyre         False
Team              False
LapStartTime      False
LapStartDate      False
TrackStatus       False
Position          False
Deleted           False
DeletedReason      True
IsAccurate        False
dtype: bool

In [10]:
# Display the first 5 rows
data.head(5)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:03:27.458000,VER,1,0 days 00:01:24.238000,1.0,1.0,NaN,NaN,NaN,0 days 00:00:37.420000,...,1.0,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,1.0,False,NaN,False
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2.0,1.0,NaN,NaN,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2.0,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1.0,False,NaN,True
2,0 days 01:06:05.899000,VER,1,0 days 00:01:19.074000,3.0,1.0,NaN,NaN,0 days 00:00:20.854000,0 days 00:00:37.288000,...,3.0,True,Red Bull Racing,0 days 01:04:46.825000,2023-05-28 13:05:47.802,1,1.0,False,NaN,True
3,0 days 01:07:24.028000,VER,1,0 days 00:01:18.129000,4.0,1.0,NaN,NaN,0 days 00:00:20.835000,0 days 00:00:36.637000,...,4.0,True,Red Bull Racing,0 days 01:06:05.899000,2023-05-28 13:07:06.876,1,1.0,False,NaN,True
4,0 days 01:08:42.047000,VER,1,0 days 00:01:18.019000,5.0,1.0,NaN,NaN,0 days 00:00:20.745000,0 days 00:00:36.734000,...,5.0,True,Red Bull Racing,0 days 01:07:24.028000,2023-05-28 13:08:25.005,1,1.0,False,NaN,True

In [11]:
# Display the last 5 rows
data.tail(5)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
1508,0 days 02:45:26.431000,PIA,81,0 days 00:01:27.443000,73.0,2.0,NaN,NaN,0 days 00:00:23.295000,0 days 00:00:42.212000,...,19.0,True,McLaren,0 days 02:43:58.988000,2023-05-28 14:44:59.965,1,10.0,False,NaN,True
1509,0 days 02:46:52.616000,PIA,81,0 days 00:01:26.185000,74.0,2.0,NaN,NaN,0 days 00:00:22.381000,0 days 00:00:42.112000,...,20.0,True,McLaren,0 days 02:45:26.431000,2023-05-28 14:46:27.408,1,10.0,False,NaN,True
1510,0 days 02:48:18.759000,PIA,81,0 days 00:01:26.143000,75.0,2.0,NaN,NaN,0 days 00:00:22.061000,0 days 00:00:42.272000,...,21.0,True,McLaren,0 days 02:46:52.616000,2023-05-28 14:47:53.593,1,10.0,False,NaN,True
1511,0 days 02:49:44.374000,PIA,81,0 days 00:01:25.615000,76.0,2.0,NaN,NaN,0 days 00:00:21.991000,0 days 00:00:41.496000,...,22.0,True,McLaren,0 days 02:48:18.759000,2023-05-28 14:49:19.736,1,10.0,False,NaN,True
1512,0 days 02:51:09.159000,PIA,81,0 days 00:01:24.785000,77.0,2.0,NaN,NaN,0 days 00:00:21.970000,0 days 00:00:40.944000,...,23.0,True,McLaren,0 days 02:49:44.374000,2023-05-28 14:50:45.351,1,10.0,False,NaN,True

In [12]:
# Access a specific column 
data['Driver']

0       VER
1       VER
2       VER
3       VER
4       VER
       ...
1508    PIA
1509    PIA
1510    PIA
1511    PIA
1512    PIA
Name: Driver, Length: 1513, dtype: object

In [13]:
# Get multiple statistics for a column
data['Stint'].describe()

count    1513.000000
mean        1.775942
std         0.942474
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: Stint, dtype: float64

In [14]:
# Operations on numeric columns
data['LapNumber'] + 1

0        2.0
1        3.0
2        4.0
3        5.0
4        6.0
        ...
1508    74.0
1509    75.0
1510    76.0
1511    77.0
1512    78.0
Name: LapNumber, Length: 1513, dtype: float64

In [15]:
# View unique (non-repeating) values of a column
data['Team'].unique()

array(['Red Bull Racing', 'Alpine', 'Aston Martin', 'Ferrari', 'Williams',
       'Haas F1 Team', 'AlphaTauri', 'Alfa Romeo', 'McLaren', 'Mercedes'],
      dtype=object)

In [16]:
len(data['Team'].unique())

10

In [17]:
# Access multiple columns
data[['Driver', 'Team']]

     Driver             Team
0       VER  Red Bull Racing
1       VER  Red Bull Racing
2       VER  Red Bull Racing
3       VER  Red Bull Racing
4       VER  Red Bull Racing
...     ...              ...
1508    PIA          McLaren
1509    PIA          McLaren
1510    PIA          McLaren
1511    PIA          McLaren
1512    PIA          McLaren

[1513 rows x 2 columns]

In [18]:
# Get a list of values from a column and access aneElement
data['Team'].values[180]

'Red Bull Racing'

In [19]:
# Access row 1280, column 1 (zero-indexed)
data.iloc[1280, 1]

'SAI'

In [20]:
# Sort by the 'LapTime' column
data.sort_values(['LapTime'])

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
1157,0 days 01:45:31.903000,HAM,44,0 days 00:01:15.650000,33.0,2.0,NaN,NaN,0 days 00:00:19.760000,0 days 00:00:35.647000,...,2.0,True,Mercedes,0 days 01:44:16.253000,2023-05-28 13:45:17.230,1,8.0,False,NaN,True
355,0 days 02:02:23.489000,LEC,16,0 days 00:01:15.773000,46.0,2.0,NaN,NaN,0 days 00:00:19.996000,0 days 00:00:35.718000,...,2.0,True,Ferrari,0 days 02:01:07.716000,2023-05-28 14:02:08.693,1,8.0,False,NaN,True
126,0 days 02:06:14.872000,GAS,10,0 days 00:01:15.831000,49.0,2.0,NaN,NaN,0 days 00:00:19.843000,0 days 00:00:35.692000,...,2.0,True,Alpine,0 days 02:04:59.041000,2023-05-28 14:06:00.018,1,8.0,False,NaN,True
127,0 days 02:07:30.827000,GAS,10,0 days 00:01:15.955000,50.0,2.0,NaN,NaN,0 days 00:00:20.045000,0 days 00:00:35.628000,...,3.0,True,Alpine,0 days 02:06:14.872000,2023-05-28 14:07:15.849,1,8.0,False,NaN,True
359,0 days 02:07:29.057000,LEC,16,0 days 00:01:15.956000,50.0,2.0,NaN,NaN,0 days 00:00:19.730000,0 days 00:00:35.934000,...,6.0,True,Ferrari,0 days 02:06:13.101000,2023-05-28 14:07:14.078,1,7.0,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,0 days 02:38:48.233000,TSU,22,0 days 00:02:17.012000,68.0,2.0,NaN,NaN,0 days 00:00:25.629000,0 days 00:01:21.925000,...,15.0,True,AlphaTauri,0 days 02:36:31.221000,2023-05-28 14:37:32.198,12,13.0,False,NaN,True
1257,0 days 02:15:32.997000,SAI,55,0 days 00:02:19.381000,55.0,2.0,NaN,0 days 02:15:04.653000,0 days 00:00:27.227000,0 days 00:01:01.073000,...,22.0,True,Ferrari,0 days 02:13:13.616000,2023-05-28 14:14:14.593,12,8.0,False,NaN,False
947,0 days 02:15:34.526000,HUL,27,0 days 00:02:19.643000,54.0,2.0,NaN,0 days 02:15:00.544000,0 days 00:00:27.923000,0 days 00:00:56.020000,...,53.0,True,Haas F1 Team,0 days 02:13:14.883000,2023-05-28 14:14:15.860,12,18.0,False,NaN,False
574,0 days 02:24:30.971000,MAG,20,0 days 00:02:26.648000,58.0,2.0,NaN,NaN,0 days 00:01:08.435000,0 days 00:00:50.544000,...,2.0,True,Haas F1 Team,0 days 02:22:04.323000,2023-05-28 14:23:05.300,12,19.0,False,NaN,True
572,0 days 02:20:16.305000,MAG,20,NaN,56.0,1.0,NaN,0 days 02:19:25.914000,0 days 00:00:38.677000,0 days 00:01:03.774000,...,56.0,True,Haas F1 Team,0 days 02:17:04.203000,2023-05-28 14:18:05.180,12,19.0,False,NaN,False

<div class='alert alert-block alert-warning'>
    <strong>NOTE:</strong> The previous operations are not 'inplace', meaning they do not modify the DataFrame, they only query it.
</div>

In [21]:
# Get the maximum, mean, and minimum number of laps a set of tires was used
mean_life = data['TyreLife'].mean()
min_life = data['TyreLife'].min()
max_life = data['TyreLife'].max()

print(min_life, mean_life, max_life)

1.0 19.2690019828156 56.0

In [22]:
# Change the type of a series of columns to int
data[['DriverNumber', 'LapNumber', 'Stint', 'TyreLife', 'TrackStatus', 'Position']] = data[['DriverNumber', 'LapNumber', 'Stint', 'TyreLife', 'TrackStatus', 'Position']].astype(int)

In [23]:
# Add a new column
data['New_Column_1'] = 1 # All rows will have the same value
data['New_Column_2'] = list(range(len(data))) # New column created from a list of values (as many as rows)
data['New_Column_3'] = data['Stint'] + 1 # New column created from another column

In [24]:
# Delete columns
data = data.drop(columns = ['New_Column_1', 'New_Column_2', 'New_Column_3'])
# This is equivalent to:
# data.drop(columns = ['New_Column_1', 'New_Column_2', 'New_Column_3'], inplace = True)

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of unique drivers.
</div>

In [25]:
# Your code here

len(data['Driver'].unique())

20

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Change the type of the columns: 'Time', 'LapTime', 'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time', and 'LapStartTime' to <a href="https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html"><i>timedelta</i></a>.
</div>

In [26]:
time_columns = ['Time', 'LapTime', 'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time', 'LapStartTime']
# Your code here

for col in time_columns:
    data[col] = pd.to_timedelta(data[col])

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Change the type of the column: 'LapStartDate' to <a href="https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html"><i>datetime</i></a>.
</div>

In [27]:
# Your code here
data['LapStartDate']=pd.to_datetime(data['LapStartDate'])

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Which driver has been the best in the first sector? And in the second sector?
</div>

In [28]:
# Your code here
data.sort_values("Sector1Time").Driver.values[0]

'LEC'

In [29]:
# Your code here
data.sort_values("Sector2Time").Driver.values[0]

'GAS'

### **Data Filtering**

In [30]:
# Get the value of a specific cell
data.loc[572, 'Team']

'Haas F1 Team'

In [31]:
# Get the laps of drivers whose team is 'Ferrari'
data_ferrari = data.loc[data['Team'] == 'Ferrari']
data_ferrari

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
310,0 days 01:03:32.328000,LEC,16,0 days 00:01:29.108000,1,1,NaT,NaT,NaT,0 days 00:00:38.983000,...,1,True,Ferrari,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,6,False,NaN,False
311,0 days 01:04:52.877000,LEC,16,0 days 00:01:20.549000,2,1,NaT,NaT,0 days 00:00:21.352000,0 days 00:00:37.692000,...,2,True,Ferrari,0 days 01:03:32.328000,2023-05-28 13:04:33.305,1,6,False,NaN,True
312,0 days 01:06:12.898000,LEC,16,0 days 00:01:20.021000,3,1,NaT,NaT,0 days 00:00:21.051000,0 days 00:00:37.547000,...,3,True,Ferrari,0 days 01:04:52.877000,2023-05-28 13:05:53.854,1,6,False,NaN,True
313,0 days 01:07:32.366000,LEC,16,0 days 00:01:19.468000,4,1,NaT,NaT,0 days 00:00:21.023000,0 days 00:00:37.375000,...,4,True,Ferrari,0 days 01:06:12.898000,2023-05-28 13:07:13.875,1,6,False,NaN,True
314,0 days 01:08:51.203000,LEC,16,0 days 00:01:18.837000,5,1,NaT,NaT,0 days 00:00:20.803000,0 days 00:00:37.198000,...,5,True,Ferrari,0 days 01:07:32.366000,2023-05-28 13:08:33.343,1,6,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,0 days 02:46:14.565000,SAI,55,0 days 00:01:28.585000,74,3,NaT,NaT,0 days 00:00:24.031000,0 days 00:00:42.481000,...,19,True,Ferrari,0 days 02:44:45.980000,2023-05-28 14:45:46.957,1,8,False,NaN,True
1277,0 days 02:47:40.953000,SAI,55,0 days 00:01:26.388000,75,3,NaT,NaT,0 days 00:00:22.468000,0 days 00:00:41.871000,...,20,True,Ferrari,0 days 02:46:14.565000,2023-05-28 14:47:15.542,1,8,False,NaN,True
1278,0 days 02:49:06.729000,SAI,55,0 days 00:01:25.776000,76,3,NaT,NaT,0 days 00:00:22.362000,0 days 00:00:41.296000,...,21,True,Ferrari,0 days 02:47:40.953000,2023-05-28 14:48:41.930,1,8,False,NaN,True
1279,0 days 02:50:32.308000,SAI,55,0 days 00:01:25.579000,77,3,NaT,NaT,0 days 00:00:22.283000,0 days 00:00:41.078000,...,22,True,Ferrari,0 days 02:49:06.729000,2023-05-28 14:50:07.706,1,8,False,NaN,True
1280,0 days 02:51:58.591000,SAI,55,0 days 00:01:26.283000,78,3,NaT,NaT,0 days 00:00:22.537000,0 days 00:00:41.195000,...,23,True,Ferrari,0 days 02:50:32.308000,2023-05-28 14:51:33.285,1,8,False,NaN,True

In [32]:
# Get all laps 1 and 2 of the drivers
data.loc[data['LapNumber'] <= 2]

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:03:27.458000,VER,1,0 days 00:01:24.238000,1,1,NaT,NaT,NaT,0 days 00:00:37.420000,...,1,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,1,False,NaN,False
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2,1,NaT,NaT,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1,False,NaN,True
78,0 days 01:03:32.921000,GAS,10,0 days 00:01:29.701000,1,1,NaT,NaT,NaT,0 days 00:00:39.087000,...,1,True,Alpine,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,7,False,NaN,False
79,0 days 01:04:53.557000,GAS,10,0 days 00:01:20.636000,2,1,NaT,NaT,0 days 00:00:21.350000,0 days 00:00:37.855000,...,2,True,Alpine,0 days 01:03:32.921000,2023-05-28 13:04:33.898,1,7,False,NaN,True
156,0 days 01:04:01.410000,PER,11,0 days 00:01:58.190000,1,1,NaT,0 days 01:03:37.245000,NaT,0 days 00:00:45.390000,...,1,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,18,False,NaN,False
157,0 days 01:05:21.114000,PER,11,0 days 00:01:19.704000,2,2,0 days 01:04:02.058000,NaT,0 days 00:00:22.935000,0 days 00:00:36.337000,...,1,True,Red Bull Racing,0 days 01:04:01.410000,2023-05-28 13:05:02.387,1,18,False,NaN,False
232,0 days 01:03:28.747000,ALO,14,0 days 00:01:25.527000,1,1,NaT,NaT,NaT,0 days 00:00:37.981000,...,2,False,Aston Martin,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,2,False,NaN,False
233,0 days 01:04:48.393000,ALO,14,0 days 00:01:19.646000,2,1,NaT,NaT,0 days 00:00:20.871000,0 days 00:00:37.656000,...,3,False,Aston Martin,0 days 01:03:28.747000,2023-05-28 13:04:29.724,1,2,False,NaN,True
310,0 days 01:03:32.328000,LEC,16,0 days 00:01:29.108000,1,1,NaT,NaT,NaT,0 days 00:00:38.983000,...,1,True,Ferrari,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,6,False,NaN,False
311,0 days 01:04:52.877000,LEC,16,0 days 00:01:20.549000,2,1,NaT,NaT,0 days 00:00:21.352000,0 days 00:00:37.692000,...,2,True,Ferrari,0 days 01:03:32.328000,2023-05-28 13:04:33.305,1,6,False,NaN,True
388,0 days 01:03:42.782000,STR,18,0 days 00:01:39.562000,1,1,NaT,NaT,NaT,0 days 00:00:46.215000,...,2,False,Aston Martin,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,17,False,NaN,False
389,0 days 01:05:02.771000,STR,18,0 days 00:01:19.989000,2,1,NaT,NaT,0 days 00:00:21.136000,0 days 00:00:37.566000,...,3,False,Aston Martin,0 days 01:03:42.782000,2023-05-28 13:04:43.759,1,17,False,NaN,True
441,0 days 01:03:40.909000,SAR,2,0 days 00:01:37.689000,1,1,NaT,NaT,NaT,0 days 00:00:44.183000,...,1,True,Williams,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,15,False,NaN,False
442,0 days 01:05:00.567000,SAR,2,0 days 00:01:19.658000,2,1,NaT,NaT,0 days 00:00:21.209000,0 days 00:00:37.307000,...,2,True,Williams,0 days 01:03:40.909000,2023-05-28 13:04:41.886,1,15,False,NaN,True
517,0 days 01:03:41.645000,MAG,20,0 days 00:01:38.425000,1,1,NaT,NaT,NaT,0 days 00:00:43.991000,...,1,True,Haas F1 Team,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,16,False,NaN,False
518,0 days 01:05:01.820000,MAG,20,0 days 00:01:20.175000,2,1,NaT,NaT,0 days 00:00:20.988000,0 days 00:00:37.573000,...,2,True,Haas F1 Team,0 days 01:03:41.645000,2023-05-28 13:04:42.622,1,16,False,NaN,True
587,0 days 01:03:36.669000,DEV,21,0 days 00:01:33.449000,1,1,NaT,NaT,NaT,0 days 00:00:40.159000,...,1,True,AlphaTauri,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,12,False,NaN,False
588,0 days 01:04:58.433000,DEV,21,0 days 00:01:21.764000,2,1,NaT,NaT,0 days 00:00:21.649000,0 days 00:00:38.019000,...,2,True,AlphaTauri,0 days 01:03:36.669000,2023-05-28 13:04:37.646,1,12,False,NaN,True
664,0 days 01:03:34.537000,TSU,22,0 days 00:01:31.317000,1,1,NaT,NaT,NaT,0 days 00:00:39.573000,...,1,True,AlphaTauri,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,9,False,NaN,False
665,0 days 01:04:55.825000,TSU,22,0 days 00:01:21.288000,2,1,NaT,NaT,0 days 00:00:21.766000,0 days 00:00:37.771000,...,2,True,AlphaTauri,0 days 01:03:34.537000,2023-05-28 13:04:35.514,1,9,False,NaN,True
740,0 days 01:03:37.836000,ALB,23,0 days 00:01:34.616000,1,1,NaT,NaT,NaT,0 days 00:00:41.843000,...,1,True,Williams,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,13,False,NaN,False
741,0 days 01:04:58.813000,ALB,23,0 days 00:01:20.977000,2,1,NaT,NaT,0 days 00:00:21.337000,0 days 00:00:37.926000,...,2,True,Williams,0 days 01:03:37.836000,2023-05-28 13:04:38.813,1,13,False,NaN,True
817,0 days 01:04:02.005000,ZHO,24,0 days 00:01:58.785000,1,1,NaT,0 days 01:03:36.589000,NaT,0 days 00:00:44.973000,...,1,True,Alfa Romeo,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,19,False,NaN,False
818,0 days 01:05:22.762000,ZHO,24,0 days 00:01:20.757000,2,2,0 days 01:04:02.714000,NaT,0 days 00:00:23.917000,0 days 00:00:36.293000,...,1,True,Alfa Romeo,0 days 01:04:02.005000,2023-05-28 13:05:02.982,1,19,False,NaN,False
894,0 days 01:04:03.312000,HUL,27,0 days 00:02:00.092000,1,1,NaT,0 days 01:03:31.449000,NaT,0 days 00:00:41.349000,...,1,True,Haas F1 Team,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,20,False,NaN,False
895,0 days 01:05:23.746000,HUL,27,0 days 00:01:20.434000,2,2,0 days 01:04:03.995000,NaT,0 days 00:00:23.288000,0 days 00:00:36.554000,...,1,True,Haas F1 Team,0 days 01:04:03.312000,2023-05-28 13:05:04.289,1,20,False,NaN,False
970,0 days 01:03:29.859000,OCO,31,0 days 00:01:26.639000,1,1,NaT,NaT,NaT,0 days 00:00:38.186000,...,1,True,Alpine,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,3,False,NaN,False
971,0 days 01:04:50.160000,OCO,31,0 days 00:01:20.301000,2,1,NaT,NaT,0 days 00:00:21.245000,0 days 00:00:37.737000,...,2,True,Alpine,0 days 01:03:29.859000,2023-05-28 13:04:30.836,1,3,False,NaN,True
1048,0 days 01:03:35.254000,NOR,4,0 days 00:01:32.034000,1,1,NaT,NaT,NaT,0 days 00:00:39.590000,...,1,True,McLaren,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,10,False,NaN,False
1049,0 days 01:04:56.864000,NOR,4,0 days 00:01:21.610000,2,1,NaT,NaT,0 days 00:00:21.769000,0 days 00:00:38.014000,...,2,True,McLaren,0 days 01:03:35.254000,2023-05-28 13:04:36.231,1,10,False,NaN,True
1125,0 days 01:03:31.805000,HAM,44,0 days 00:01:28.585000,1,1,NaT,NaT,NaT,0 days 00:00:38.830000,...,1,True,Mercedes,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,5,False,NaN,False
1126,0 days 01:04:52.332000,HAM,44,0 days 00:01:20.527000,2,1,NaT,NaT,0 days 00:00:21.226000,0 days 00:00:37.769000,...,2,True,Mercedes,0 days 01:03:31.805000,2023-05-28 13:04:32.782,1,5,False,NaN,True
1203,0 days 01:03:30.610000,SAI,55,0 days 00:01:27.390000,1,1,NaT,NaT,NaT,0 days 00:00:38.450000,...,1,True,Ferrari,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,4,False,NaN,False
1204,0 days 01:04:51.203000,SAI,55,0 days 00:01:20.593000,2,1,NaT,NaT,0 days 00:00:21.218000,0 days 00:00:37.827000,...,2,True,Ferrari,0 days 01:03:30.610000,2023-05-28 13:04:31.587,1,4,False,NaN,True
1281,0 days 01:03:33.607000,RUS,63,0 days 00:01:30.387000,1,1,NaT,NaT,NaT,0 days 00:00:39.443000,...,1,True,Mercedes,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,8,False,NaN,False
1282,0 days 01:04:54.762000,RUS,63,0 days 00:01:21.155000,2,1,NaT,NaT,0 days 00:00:21.784000,0 days 00:00:37.682000,...,2,True,Mercedes,0 days 01:03:33.607000,2023-05-28 13:04:34.584,1,8,False,NaN,True
1359,0 days 01:03:40.134000,BOT,77,0 days 00:01:36.914000,1,1,NaT,NaT,NaT,0 days 00:00:43.240000,...,1,True,Alfa Romeo,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,14,False,NaN,False
1360,0 days 01:05:00.155000,BOT,77,0 days 00:01:20.021000,2,1,NaT,NaT,0 days 00:00:21.417000,0 days 00:00:37.271000,...,2,True,Alfa Romeo,0 days 01:03:40.134000,2023-05-28 13:04:41.111,1,14,False,NaN,True
1436,0 days 01:03:36.290000,PIA,81,0 days 00:01:33.070000,1,1,NaT,NaT,NaT,0 days 00:00:39.733000,...,1,True,McLaren,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,11,False,NaN,False
1437,0 days 01:04:58.094000,PIA,81,0 days 00:01:21.804000,2,1,NaT,NaT,0 days 00:00:21.564000,0 days 00:00:38.007000,...,2,True,McLaren,0 days 01:03:36.290000,2023-05-28 13:04:37.267,1,11,False,NaN,True

In [33]:
# Get lap 10 of the drivers from 'Ferrari'
data_ferrari_10 = data.loc[(data['LapNumber'] == 10) & (data['Team'] == 'Ferrari')]
data_ferrari_10

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
319,0 days 01:15:24.870000,LEC,16,0 days 00:01:18.219000,10,1,NaT,NaT,0 days 00:00:20.645000,0 days 00:00:36.610000,...,10,True,Ferrari,0 days 01:14:06.651000,2023-05-28 13:15:07.628,1,6,False,NaN,True
1212,0 days 01:15:21.840000,SAI,55,0 days 00:01:18.070000,10,1,NaT,NaT,0 days 00:00:20.574000,0 days 00:00:36.868000,...,10,True,Ferrari,0 days 01:14:03.770000,2023-05-28 13:15:04.747,1,4,False,NaN,True

In [34]:
# Get the laps of the drivers 'SAI' or 'LEC'
data.loc[(data['Driver'] == 'SAI') | (data['Driver'] == 'LEC')]

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
310,0 days 01:03:32.328000,LEC,16,0 days 00:01:29.108000,1,1,NaT,NaT,NaT,0 days 00:00:38.983000,...,1,True,Ferrari,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,6,False,NaN,False
311,0 days 01:04:52.877000,LEC,16,0 days 00:01:20.549000,2,1,NaT,NaT,0 days 00:00:21.352000,0 days 00:00:37.692000,...,2,True,Ferrari,0 days 01:03:32.328000,2023-05-28 13:04:33.305,1,6,False,NaN,True
312,0 days 01:06:12.898000,LEC,16,0 days 00:01:20.021000,3,1,NaT,NaT,0 days 00:00:21.051000,0 days 00:00:37.547000,...,3,True,Ferrari,0 days 01:04:52.877000,2023-05-28 13:05:53.854,1,6,False,NaN,True
313,0 days 01:07:32.366000,LEC,16,0 days 00:01:19.468000,4,1,NaT,NaT,0 days 00:00:21.023000,0 days 00:00:37.375000,...,4,True,Ferrari,0 days 01:06:12.898000,2023-05-28 13:07:13.875,1,6,False,NaN,True
314,0 days 01:08:51.203000,LEC,16,0 days 00:01:18.837000,5,1,NaT,NaT,0 days 00:00:20.803000,0 days 00:00:37.198000,...,5,True,Ferrari,0 days 01:07:32.366000,2023-05-28 13:08:33.343,1,6,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,0 days 02:46:14.565000,SAI,55,0 days 00:01:28.585000,74,3,NaT,NaT,0 days 00:00:24.031000,0 days 00:00:42.481000,...,19,True,Ferrari,0 days 02:44:45.980000,2023-05-28 14:45:46.957,1,8,False,NaN,True
1277,0 days 02:47:40.953000,SAI,55,0 days 00:01:26.388000,75,3,NaT,NaT,0 days 00:00:22.468000,0 days 00:00:41.871000,...,20,True,Ferrari,0 days 02:46:14.565000,2023-05-28 14:47:15.542,1,8,False,NaN,True
1278,0 days 02:49:06.729000,SAI,55,0 days 00:01:25.776000,76,3,NaT,NaT,0 days 00:00:22.362000,0 days 00:00:41.296000,...,21,True,Ferrari,0 days 02:47:40.953000,2023-05-28 14:48:41.930,1,8,False,NaN,True
1279,0 days 02:50:32.308000,SAI,55,0 days 00:01:25.579000,77,3,NaT,NaT,0 days 00:00:22.283000,0 days 00:00:41.078000,...,22,True,Ferrari,0 days 02:49:06.729000,2023-05-28 14:50:07.706,1,8,False,NaN,True
1280,0 days 02:51:58.591000,SAI,55,0 days 00:01:26.283000,78,3,NaT,NaT,0 days 00:00:22.537000,0 days 00:00:41.195000,...,23,True,Ferrari,0 days 02:50:32.308000,2023-05-28 14:51:33.285,1,8,False,NaN,True

In [35]:
# Another option for getting the  laps of the drivers 'SAI' or 'LEC'
data.loc[data['Driver'].isin(['SAI', 'LEC'])]

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
310,0 days 01:03:32.328000,LEC,16,0 days 00:01:29.108000,1,1,NaT,NaT,NaT,0 days 00:00:38.983000,...,1,True,Ferrari,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,6,False,NaN,False
311,0 days 01:04:52.877000,LEC,16,0 days 00:01:20.549000,2,1,NaT,NaT,0 days 00:00:21.352000,0 days 00:00:37.692000,...,2,True,Ferrari,0 days 01:03:32.328000,2023-05-28 13:04:33.305,1,6,False,NaN,True
312,0 days 01:06:12.898000,LEC,16,0 days 00:01:20.021000,3,1,NaT,NaT,0 days 00:00:21.051000,0 days 00:00:37.547000,...,3,True,Ferrari,0 days 01:04:52.877000,2023-05-28 13:05:53.854,1,6,False,NaN,True
313,0 days 01:07:32.366000,LEC,16,0 days 00:01:19.468000,4,1,NaT,NaT,0 days 00:00:21.023000,0 days 00:00:37.375000,...,4,True,Ferrari,0 days 01:06:12.898000,2023-05-28 13:07:13.875,1,6,False,NaN,True
314,0 days 01:08:51.203000,LEC,16,0 days 00:01:18.837000,5,1,NaT,NaT,0 days 00:00:20.803000,0 days 00:00:37.198000,...,5,True,Ferrari,0 days 01:07:32.366000,2023-05-28 13:08:33.343,1,6,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,0 days 02:46:14.565000,SAI,55,0 days 00:01:28.585000,74,3,NaT,NaT,0 days 00:00:24.031000,0 days 00:00:42.481000,...,19,True,Ferrari,0 days 02:44:45.980000,2023-05-28 14:45:46.957,1,8,False,NaN,True
1277,0 days 02:47:40.953000,SAI,55,0 days 00:01:26.388000,75,3,NaT,NaT,0 days 00:00:22.468000,0 days 00:00:41.871000,...,20,True,Ferrari,0 days 02:46:14.565000,2023-05-28 14:47:15.542,1,8,False,NaN,True
1278,0 days 02:49:06.729000,SAI,55,0 days 00:01:25.776000,76,3,NaT,NaT,0 days 00:00:22.362000,0 days 00:00:41.296000,...,21,True,Ferrari,0 days 02:47:40.953000,2023-05-28 14:48:41.930,1,8,False,NaN,True
1279,0 days 02:50:32.308000,SAI,55,0 days 00:01:25.579000,77,3,NaT,NaT,0 days 00:00:22.283000,0 days 00:00:41.078000,...,22,True,Ferrari,0 days 02:49:06.729000,2023-05-28 14:50:07.706,1,8,False,NaN,True
1280,0 days 02:51:58.591000,SAI,55,0 days 00:01:26.283000,78,3,NaT,NaT,0 days 00:00:22.537000,0 days 00:00:41.195000,...,23,True,Ferrari,0 days 02:50:32.308000,2023-05-28 14:51:33.285,1,8,False,NaN,True

In [36]:
# Get laps from teams that contain 'Bull'
data.loc[data['Team'].str.contains('Bull')]

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:03:27.458000,VER,1,0 days 00:01:24.238000,1,1,NaT,NaT,NaT,0 days 00:00:37.420000,...,1,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,1,False,NaN,False
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2,1,NaT,NaT,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1,False,NaN,True
2,0 days 01:06:05.899000,VER,1,0 days 00:01:19.074000,3,1,NaT,NaT,0 days 00:00:20.854000,0 days 00:00:37.288000,...,3,True,Red Bull Racing,0 days 01:04:46.825000,2023-05-28 13:05:47.802,1,1,False,NaN,True
3,0 days 01:07:24.028000,VER,1,0 days 00:01:18.129000,4,1,NaT,NaT,0 days 00:00:20.835000,0 days 00:00:36.637000,...,4,True,Red Bull Racing,0 days 01:06:05.899000,2023-05-28 13:07:06.876,1,1,False,NaN,True
4,0 days 01:08:42.047000,VER,1,0 days 00:01:18.019000,5,1,NaT,NaT,0 days 00:00:20.745000,0 days 00:00:36.734000,...,5,True,Red Bull Racing,0 days 01:07:24.028000,2023-05-28 13:08:25.005,1,1,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,0 days 02:45:47.279000,PER,11,0 days 00:01:29.537000,72,6,NaT,NaT,0 days 00:00:23.628000,0 days 00:00:43.487000,...,2,True,Red Bull Racing,0 days 02:44:17.742000,2023-05-28 14:45:18.719,1,17,False,NaN,True
228,0 days 02:47:14.099000,PER,11,0 days 00:01:26.820000,73,6,NaT,NaT,0 days 00:00:22.267000,0 days 00:00:42.197000,...,3,True,Red Bull Racing,0 days 02:45:47.279000,2023-05-28 14:46:48.256,1,17,False,NaN,True
229,0 days 02:48:39.803000,PER,11,0 days 00:01:25.704000,74,6,NaT,NaT,0 days 00:00:22.036000,0 days 00:00:41.152000,...,4,True,Red Bull Racing,0 days 02:47:14.099000,2023-05-28 14:48:15.076,1,17,False,NaN,True
230,0 days 02:50:13.951000,PER,11,0 days 00:01:34.148000,75,6,NaT,NaT,0 days 00:00:23.990000,0 days 00:00:46.718000,...,5,True,Red Bull Racing,0 days 02:48:39.803000,2023-05-28 14:49:40.780,1,17,False,NaN,True
231,0 days 02:51:44.224000,PER,11,0 days 00:01:30.273000,76,6,NaT,NaT,0 days 00:00:23.899000,0 days 00:00:43.256000,...,6,True,Red Bull Racing,0 days 02:50:13.951000,2023-05-28 14:51:14.928,1,17,False,NaN,True

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Fix the NaT values in the times of the columns 'Sector1Time' and 'LapTime'.
</div>

In [37]:
# Your code here
#print(data["Sector1Time"].isna )
#print(data["LapTime"].isna)

#Solucion dada mal
#data["Sector1Time"]=data["LapTime"]-data["Sector2Time"]-data["Sector3Time"]
#data.loc[572,'LapTime']=data.loc[572, "Sector1Time"] + data.loc[572, "Sector2Time"] + data.loc[572, "Sector3Time"]


#Solución real
aux=data[data['Sector1Time'].isna()]
for index, rows in aux.iterrows():
    data.at[index, "Sector1Time"]=rows["LapTime"]-rows["Sector2Time"]-rows["Sector3Time"]

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the average lap time of 'AlphaTauri' drivers between laps 1 and 20 (inclusive).
</div>

In [38]:
# Your code here
aux=data.loc[(data["Team"]=="AlphaTauri") & (data["LapNumber"]<=20) & (data["LapNumber"]>=1)]
print(aux["LapTime"].mean())

0 days 00:01:19.966000

<div class="alert alert-block alert-info">
    <b>Exercise:</b> What was the maximum speed at the finish line for Alonso? And for Verstappen? In which laps?
</div>

In [39]:

alonso_speed = data.loc[data["Driver"] == "ALO"]
alonso_maxSP = alonso_speed["SpeedFL"].max()

alonso_aux_lap = data.loc[(data["Driver"] == "ALO") & (data["SpeedFL"] == alonso_maxSP)]
alonso_lap = alonso_aux_lap["LapNumber"].values[0]

print(f"Alonso speed: {alonso_maxSP}, Alonso lap: {alonso_lap}")

Alonso speed: 265.0, Alonso lap: 34

In [40]:
VER_speed = data.loc[data["Driver"] == "VER"]
VER_maxSP = VER_speed["SpeedFL"].max()

VER_aux_lap = data.loc[(data["Driver"] == "VER") & (data["SpeedFL"] == VER_maxSP)]
VER_lap = alonso_aux_lap["LapNumber"].values[0]

print(f"VER speed: {VER_maxSP}, VER lap: {VER_lap}")

VER speed: 261.0, VER lap: 34

### **Data Grouping**

In [41]:
# Get the number of drivers per team
data.groupby('Team')['Driver'].nunique().reset_index()

              Team  Driver
0       Alfa Romeo       2
1       AlphaTauri       2
2           Alpine       2
3     Aston Martin       2
4          Ferrari       2
5     Haas F1 Team       2
6          McLaren       2
7         Mercedes       2
8  Red Bull Racing       2
9         Williams       2

In [42]:
# List of drivers by team
data.groupby('Team')['Driver'].unique().reset_index()

              Team      Driver
0       Alfa Romeo  [ZHO, BOT]
1       AlphaTauri  [DEV, TSU]
2           Alpine  [GAS, OCO]
3     Aston Martin  [ALO, STR]
4          Ferrari  [LEC, SAI]
5     Haas F1 Team  [MAG, HUL]
6          McLaren  [NOR, PIA]
7         Mercedes  [HAM, RUS]
8  Red Bull Racing  [VER, PER]
9         Williams  [SAR, ALB]

In [43]:
# Another option to get the list of drivers by Team
data.groupby('Team')['Driver'].apply(lambda x: list(set(x))).reset_index()

              Team      Driver
0       Alfa Romeo  [ZHO, BOT]
1       AlphaTauri  [DEV, TSU]
2           Alpine  [GAS, OCO]
3     Aston Martin  [STR, ALO]
4          Ferrari  [LEC, SAI]
5     Haas F1 Team  [MAG, HUL]
6          McLaren  [NOR, PIA]
7         Mercedes  [RUS, HAM]
8  Red Bull Racing  [PER, VER]
9         Williams  [SAR, ALB]

In [44]:
# Number of laps per driver ordered from highest to lowest
data.groupby('Driver')['LapNumber'].max().sort_values(ascending = False).reset_index()

   Driver  LapNumber
0     ALO         78
1     LEC         78
2     HAM         78
3     GAS         78
4     SAI         78
5     VER         78
6     RUS         78
7     OCO         78
8     DEV         77
9     BOT         77
10    ALB         77
11    NOR         77
12    ZHO         77
13    PIA         77
14    HUL         76
15    PER         76
16    TSU         76
17    SAR         76
18    MAG         70
19    STR         53

In [45]:
# Another option to get the Number of laps per driver ordered from highest to lowest
data.groupby('Driver')['LapNumber'].size().sort_values(ascending = False).reset_index()

   Driver  LapNumber
0     ALO         78
1     LEC         78
2     HAM         78
3     GAS         78
4     SAI         78
5     VER         78
6     RUS         78
7     OCO         78
8     DEV         77
9     BOT         77
10    ALB         77
11    NOR         77
12    ZHO         77
13    PIA         77
14    HUL         76
15    PER         76
16    TSU         76
17    SAR         76
18    MAG         70
19    STR         53

In [46]:
# Average speed at the finish line for each team
data.groupby('Team')['SpeedFL'].mean().sort_values(ascending = False).reset_index()

              Team     SpeedFL
0     Aston Martin  259.226562
1  Red Bull Racing  259.135135
2          Ferrari  258.217105
3         Williams  257.898649
4          McLaren  256.947020
5       Alfa Romeo  256.662252
6     Haas F1 Team  256.021127
7         Mercedes  255.882353
8       AlphaTauri  255.596026
9           Alpine  255.559211

In [47]:
# Another option that allows customizing the name of the new column and creating multiple at once
data.groupby('Team').agg(AvgFlSpeed = ('SpeedFL', 'mean')).sort_values('AvgFlSpeed', ascending = False).reset_index()

              Team  AvgFlSpeed
0     Aston Martin  259.226562
1  Red Bull Racing  259.135135
2          Ferrari  258.217105
3         Williams  257.898649
4          McLaren  256.947020
5       Alfa Romeo  256.662252
6     Haas F1 Team  256.021127
7         Mercedes  255.882353
8       AlphaTauri  255.596026
9           Alpine  255.559211

In [48]:
# The Pivot Table allows grouping data in a more complex way.
# In this example, it shows for each Driver from each Team, the Number of Laps they did with each compound, as well as the totals for rows and columns (margins).
data.pivot_table(index = ['Team', 'Driver'], columns = ['Compound'], values = 'LapNumber', aggfunc = 'count', fill_value = 0, margins = True, margins_name = 'Total')

Compound                HARD  INTERMEDIATE  MEDIUM  SOFT  WET  Total
Team            Driver
Alfa Romeo      BOT       51            26       0     0    0     77
                ZHO       51            25       0     1    0     77
AlphaTauri      DEV        0            24      53     0    0     77
                TSU        0            23      53     0    0     76
Alpine          GAS       47            24       7     0    0     78
                OCO       22            24      32     0    0     78
Aston Martin    ALO       54            23       1     0    0     78
                STR       51             2       0     0    0     53
Ferrari         LEC       44            23      11     0    0     78
                SAI       33            23      22     0    0     78
Haas F1 Team    HUL       53             5       1     0   17     76
                MAG       56             0       0     0   14     70
McLaren         NOR        4            23      50     0    0     77
                PIA       54            23       0     0    0     77
Mercedes        HAM       23            24      31     0    0     78
                RUS       54            24       0     0    0     78
Red Bull Racing PER       33            10      20     0   13     76
                VER        0            23      55     0    0     78
Williams        ALB       34            25      18     0    0     77
                SAR        3            24      20    29    0     76
Total                    667           398     374    30   44   1513

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of laps annulled for each driver. Order from highest to lowest.
</div>

In [49]:
# Your code here
#data.groupby('Driver')['LapNumber'].max().sort_values(ascending = False).reset_index()

laps_annulled_by_driver = data.groupby('Driver')['Deleted'].sum().reset_index()
laps_annulled_by_driver = laps_annulled_by_driver.sort_values(by='Deleted', ascending=False).reset_index(drop=True)

laps_annulled_by_driver

   Driver  Deleted
0     ALB        4
1     ALO        3
2     MAG        3
3     DEV        2
4     PER        2
5     GAS        2
6     OCO        2
7     HUL        2
8     ZHO        2
9     SAI        2
10    SAR        1
11    NOR        1
12    PIA        1
13    BOT        0
14    HAM        0
15    LEC        0
16    RUS        0
17    STR        0
18    TSU        0
19    VER        0

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of pit stops made by each driver.
</div>

In [50]:
# Your code here 
#data.groupby('Driver')['LapNumber'].max().sort_values(ascending = False).reset_index()

pitstops = data.dropna(subset=['PitOutTime', 'PitInTime'])
pitstops_driver=pitstops.groupby('Driver').size().reset_index(name='Pitstops').sort_values(by='Pitstops', ascending=False)



pitstops_driver

  Driver  Pitstops
0    ALO         1

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Create a table where the rows show the teams and drivers, and the columns represent the first 10 laps. The lap time should be displayed in seconds (using time.dt.total_seconds()).
</div>

In [51]:
# Your code here

first_10_laps = data[data['LapNumber'] <= 10]
first_10_laps['LapTimeSeconds'] = first_10_laps['LapTime'].dt.total_seconds()

lap_times_table = first_10_laps.pivot_table(
    index=['Team', 'Driver'],  
    columns='LapNumber',        
    values='LapTimeSeconds',    
    aggfunc='mean'              
)

lap_times_table

C:\Users\CARLA\AppData\Local\Temp\ipykernel_28216\2737416420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_10_laps['LapTimeSeconds'] = first_10_laps['LapTime'].dt.total_seconds()

LapNumber                    1       2       3       4       5       6   \
Team            Driver
Alfa Romeo      BOT      96.914  80.021  80.142  80.341  80.022  79.165
                ZHO     118.785  80.757  77.003  76.946  76.926  77.205
AlphaTauri      DEV      93.449  81.764  80.580  80.376  79.790  79.224
                TSU      91.317  81.288  80.281  80.032  79.296  78.730
Alpine          GAS      89.701  80.636  80.282  79.577  78.893  78.842
                OCO      86.639  80.301  79.704  79.314  79.041  78.731
Aston Martin    ALO      85.527  79.646  79.113  78.776  77.939  77.952
                STR      99.562  79.989  79.928  79.998  80.438  79.785
Ferrari         LEC      89.108  80.549  80.021  79.468  78.837  78.829
                SAI      87.390  80.593  79.958  79.482  78.723  78.764
Haas F1 Team    HUL     120.092  80.434  77.221  77.148  77.045  76.991
                MAG      98.425  80.175  79.929  80.407  80.224  79.352
McLaren         NOR      92.034  81.610  80.396  80.209  79.502  79.045
                PIA      93.070  81.804  80.532  80.408  79.707  79.247
Mercedes        HAM      88.585  80.527  80.105  79.356  78.736  78.958
                RUS      90.387  81.155  80.291  80.030  78.840  78.945
Red Bull Racing PER     118.190  79.704  76.387  76.535  76.269  76.458
                VER      84.238  79.367  79.074  78.129  78.019  77.640
Williams        ALB      94.616  80.977  80.703  80.276  79.967  79.165
                SAR      97.689  79.658  80.219  80.246  80.214  79.312

LapNumber                   7       8       9       10
Team            Driver
Alfa Romeo      BOT     79.167  78.774  79.007  79.527
                ZHO     77.408  77.254  77.523  78.449
AlphaTauri      DEV     79.038  78.743  79.454  78.957
                TSU     78.712  78.951  78.859  78.697
Alpine          GAS     78.604  79.317  78.788  78.310
                OCO     78.782  78.533  78.594  78.460
Aston Martin    ALO     77.505  77.391  77.783  77.324
                STR     79.417  78.733  78.659  79.893
Ferrari         LEC     78.645  79.165  78.809  78.219
                SAI     78.697  78.637  78.306  78.070
Haas F1 Team    HUL     77.333  77.237  77.433  78.028
                MAG     79.512  79.052  78.914  79.929
McLaren         NOR     78.652  78.651  79.065  79.053
                PIA     78.869  78.828  79.346  79.015
Mercedes        HAM     78.651  79.051  78.829  78.173
                RUS     78.583  78.990  79.025  78.566
Red Bull Racing PER     77.399  77.937  78.254  79.787
                VER     77.633  77.397  77.031  77.084
Williams        ALB     79.055  78.796  79.293  79.338
                SAR     79.239  78.947  79.529  80.334

### **Final Cleanup and Storage of the DataFrame**

To ensure that this dataset is ready for future use in practice, we will remove certain rows and columns that won't contribute useful information to the problems we'll solve.

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Remove all rows where 'TrackStatus' is not equal to 1 and those that correspond to a pit stop. The latter will have a value in 'PitOutTime' or 'PitInTime'. Sort by 'Time' in ascending order and reset the index using `reset_index(drop=True)` to reassign the row indices.
</div>

In [52]:
# Your code here
data=data[data['TrackStatus']== 1 & data['PitInTime'].isnull() & data['PitOutTime'].isnull()]

data.sort_values('Time', ascending=True).reset_index(drop=True)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2,1,NaT,NaT,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1,False,NaN,True
1,0 days 01:04:48.393000,ALO,14,0 days 00:01:19.646000,2,1,NaT,NaT,0 days 00:00:20.871000,0 days 00:00:37.656000,...,3,False,Aston Martin,0 days 01:03:28.747000,2023-05-28 13:04:29.724,1,2,False,NaN,True
2,0 days 01:04:50.160000,OCO,31,0 days 00:01:20.301000,2,1,NaT,NaT,0 days 00:00:21.245000,0 days 00:00:37.737000,...,2,True,Alpine,0 days 01:03:29.859000,2023-05-28 13:04:30.836,1,3,False,NaN,True
3,0 days 01:04:51.203000,SAI,55,0 days 00:01:20.593000,2,1,NaT,NaT,0 days 00:00:21.218000,0 days 00:00:37.827000,...,2,True,Ferrari,0 days 01:03:30.610000,2023-05-28 13:04:31.587,1,4,False,NaN,True
4,0 days 01:04:52.332000,HAM,44,0 days 00:01:20.527000,2,1,NaT,NaT,0 days 00:00:21.226000,0 days 00:00:37.769000,...,2,True,Mercedes,0 days 01:03:31.805000,2023-05-28 13:04:32.782,1,5,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,0 days 02:51:57.562000,GAS,10,0 days 00:01:26.578000,78,3,NaT,NaT,0 days 00:00:22.610000,0 days 00:00:41.552000,...,24,True,Alpine,0 days 02:50:30.984000,2023-05-28 14:51:31.961,1,7,False,NaN,True
1255,0 days 02:51:58.591000,SAI,55,0 days 00:01:26.283000,78,3,NaT,NaT,0 days 00:00:22.537000,0 days 00:00:41.195000,...,23,True,Ferrari,0 days 02:50:32.308000,2023-05-28 14:51:33.285,1,8,False,NaN,True
1256,0 days 02:52:07.052000,ZHO,24,0 days 00:01:26.615000,77,3,NaT,NaT,0 days 00:00:22.670000,0 days 00:00:41.227000,...,25,True,Alfa Romeo,0 days 02:50:40.437000,2023-05-28 14:51:41.414,1,13,False,NaN,True
1257,0 days 02:52:08.183000,SAR,2,0 days 00:01:29.076000,76,4,NaT,NaT,0 days 00:00:24.523000,0 days 00:00:41.980000,...,24,True,Williams,0 days 02:50:39.107000,2023-05-28 14:51:40.084,1,18,False,NaN,True
1258,0 days 02:52:14.410000,ALB,23,0 days 00:01:27.816000,77,3,NaT,NaT,0 days 00:00:23.207000,0 days 00:00:41.296000,...,25,True,Williams,0 days 02:50:46.594000,2023-05-28 14:51:47.571,1,14,False,NaN,True

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Finally, remove the columns "Deleted", "DeletedReason", "IsAccurate", "TrackStatus", "PitOutTime", and "PitInTime".
</div>

In [53]:
# Your code here

cols = ["Deleted", "DeletedReason", "IsAccurate", "TrackStatus", "PitOutTime", "PitInTime"]

data.drop(columns=cols)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,Sector1Time,Sector2Time,Sector3Time,SpeedI1,...,SpeedFL,SpeedST,IsPersonalBest,Compound,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,Position
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2,1,0 days 00:00:20.954000,0 days 00:00:37.366000,0 days 00:00:21.047000,186.0,...,256.0,259.0,True,MEDIUM,2,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1
2,0 days 01:06:05.899000,VER,1,0 days 00:01:19.074000,3,1,0 days 00:00:20.854000,0 days 00:00:37.288000,0 days 00:00:20.932000,193.0,...,255.0,260.0,True,MEDIUM,3,True,Red Bull Racing,0 days 01:04:46.825000,2023-05-28 13:05:47.802,1
3,0 days 01:07:24.028000,VER,1,0 days 00:01:18.129000,4,1,0 days 00:00:20.835000,0 days 00:00:36.637000,0 days 00:00:20.657000,192.0,...,256.0,259.0,True,MEDIUM,4,True,Red Bull Racing,0 days 01:06:05.899000,2023-05-28 13:07:06.876,1
4,0 days 01:08:42.047000,VER,1,0 days 00:01:18.019000,5,1,0 days 00:00:20.745000,0 days 00:00:36.734000,0 days 00:00:20.540000,188.0,...,256.0,260.0,True,MEDIUM,5,True,Red Bull Racing,0 days 01:07:24.028000,2023-05-28 13:08:25.005,1
5,0 days 01:09:59.687000,VER,1,0 days 00:01:17.640000,6,1,0 days 00:00:20.488000,0 days 00:00:36.550000,0 days 00:00:20.602000,193.0,...,255.0,260.0,True,MEDIUM,6,True,Red Bull Racing,0 days 01:08:42.047000,2023-05-28 13:09:43.024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,0 days 02:45:26.431000,PIA,81,0 days 00:01:27.443000,73,2,0 days 00:00:23.295000,0 days 00:00:42.212000,0 days 00:00:21.936000,165.0,...,255.0,274.0,False,INTERMEDIATE,19,True,McLaren,0 days 02:43:58.988000,2023-05-28 14:44:59.965,10
1509,0 days 02:46:52.616000,PIA,81,0 days 00:01:26.185000,74,2,0 days 00:00:22.381000,0 days 00:00:42.112000,0 days 00:00:21.692000,174.0,...,256.0,275.0,False,INTERMEDIATE,20,True,McLaren,0 days 02:45:26.431000,2023-05-28 14:46:27.408,10
1510,0 days 02:48:18.759000,PIA,81,0 days 00:01:26.143000,75,2,0 days 00:00:22.061000,0 days 00:00:42.272000,0 days 00:00:21.810000,181.0,...,257.0,274.0,False,INTERMEDIATE,21,True,McLaren,0 days 02:46:52.616000,2023-05-28 14:47:53.593,10
1511,0 days 02:49:44.374000,PIA,81,0 days 00:01:25.615000,76,2,0 days 00:00:21.991000,0 days 00:00:41.496000,0 days 00:00:22.128000,184.0,...,256.0,276.0,False,INTERMEDIATE,22,True,McLaren,0 days 02:48:18.759000,2023-05-28 14:49:19.736,10
1512,0 days 02:51:09.159000,PIA,81,0 days 00:01:24.785000,77,2,0 days 00:00:21.970000,0 days 00:00:40.944000,0 days 00:00:21.871000,182.0,...,257.0,276.0,False,INTERMEDIATE,23,True,McLaren,0 days 02:49:44.374000,2023-05-28 14:50:45.351,10

Once this phase of analysis and cleaning of the dataset is completed, we will store the Pandas DataFrame in a `Pickle` file.
It is possible to store it as `CSV` or `XLSX`, but these formats do not preserve the column types. This would mean that when loading it in the future, we would have to re-cast (`.astype()`) each column.

In [54]:
data.to_pickle('f1_23_monaco.pkl')