# **Lab 2.2: Preprocessing**

<hr>

## **1. Objective**
In this lab, we will download a dataset, analyze it, and clean it for use in future labs.

### **Pandas Library**
It is considered the most popular data analysis library in Python.
It performs all its operations using a *"DataFrame"* object.

It allows, among other operations:  

* Loading and storing data in different formats (csv, tsv, xlsx, txt...).  
* Manipulating rows, columns, and cells.  
* Filtering or grouping content.  
* Performing intersection, concatenation, or merging of multiple DataFrames.  

To install it:

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\uo288511\.conda\envs\ssii\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

<div class="alert alert-block alert-warning">  
    <strong>NOTE:</strong> The exclamation mark before the code indicates to Jupyter that this is not Python and should be executed in the terminal. This allows us to install libraries directly from the notebook.
</div>

<hr>

## **2. Exploratory Data Analysis (EDA)**

The main objectives of this analysis are:
* Understand the data we will be working with.
* Clean the dataset:
  * Remove empty rows or columns.
  * Eliminate inconsistent values.

Our dataset contains information about a race from the 2023 Formula 1 season.
Next, we will download the data and analyze it using the Pandas library.

In [3]:
import pandas as pd

url_data = 'https://raw.githubusercontent.com/AIC-Uniovi/Sistemas-Inteligentes/refs/heads/main/datasets/f1_23_monaco.csv'
data = pd.read_csv(url_data)

**Description of Dataset Columns**

| Column               | Description |
|----------------------|------------|
| `Time`              | Total elapsed time in the session. |
| `Driver`            | Three-letter driver code. |
| `DriverNumber`      | Driver's race number. |
| `LapTime`           | Total lap time. |
| `LapNumber`         | Lap number in the session. |
| `Stint`             | Current stint number (period between pit stops). |
| `PitOutTime`        | Time when the driver exited the pit lane. |
| `PitInTime`         | Time when the driver entered the pit lane. |
| `Sector1Time`       | Time recorded in the first sector of the lap. |
| `Sector2Time`       | Time recorded in the second sector of the lap. |
| `Sector3Time`       | Time recorded in the third sector of the lap. |
| `SpeedI1`           | Speed measured at the first detection point. |
| `SpeedI2`           | Speed measured at the second detection point. |
| `SpeedFL`           | Speed at the finish line. |
| `SpeedST`           | Maximum speed in the sector. |
| `IsPersonalBest`    | Indicates if the lap is the driver's personal best (`True`/`False`). |
| `Compound`          | Type of tire compound used. |
| `TyreLife`          | Number of laps the tire has been used. |
| `FreshTyre`         | Indicates if the tire was new at the start of the lap (`True`/`False`). |
| `Team`              | Driver's team name. |
| `LapStartTime`      | Lap start time within the session. |
| `LapStartDate`      | Exact date and time of lap start. |
| `TrackStatus`       | Track condition during the lap (e.g., yellow flag, green flag, etc.). |
| `Position`          | Driver's position at the end of the lap. |
| `Deleted`           | Indicates if the lap was deleted (`True`/`False`). |
| `DeletedReason`     | Reason why the lap was deleted (if applicable). |
| `IsAccurate`        | Indicates if the lap data is accurate (`True`/`False`). |

### **Basic Operations**

In [4]:
# Column names
data.columns

Index(['Time', 'Driver', 'DriverNumber', 'LapTime', 'LapNumber', 'Stint',
       'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Team', 'LapStartTime',
       'LapStartDate', 'TrackStatus', 'Position', 'Deleted', 'DeletedReason',
       'IsAccurate'],
      dtype='object')

In [5]:
# Column types
data.dtypes

Time               object
Driver             object
DriverNumber        int64
LapTime            object
LapNumber         float64
Stint             float64
PitOutTime         object
PitInTime          object
Sector1Time        object
Sector2Time        object
Sector3Time        object
SpeedI1           float64
SpeedI2           float64
SpeedFL           float64
SpeedST           float64
IsPersonalBest       bool
Compound           object
TyreLife          float64
FreshTyre            bool
Team               object
LapStartTime       object
LapStartDate       object
TrackStatus         int64
Position          float64
Deleted              bool
DeletedReason      object
IsAccurate           bool
dtype: object

In [6]:
# Number of columns
len(data.columns)

27

In [7]:
# Number of rows
len(data)

1513

In [8]:
# Get basic statistics for the entire dataset  
data.describe()

,DriverNumber,LapNumber,Stint,SpeedI1,SpeedI2,SpeedFL,SpeedST,TyreLife,TrackStatus,Position
count,1513.000000,1513.000000,1513.000000,1391.000000,1513.000000,1476.000000,1513.000000,1513.000000,1513.000000,1513.000000
mean,28.438863,38.523463,1.775942,175.464414,173.806345,257.080623,272.918705,19.269002,2.851950,10.262393
std,23.285504,22.125804,0.942474,28.337102,21.097378,7.230135,13.549024,13.872089,4.798371,5.671148
min,1.000000,1.000000,1.000000,90.000000,79.000000,187.000000,157.000000,1.000000,1.000000,1.000000
25%,11.000000,19.000000,1.000000,151.000000,162.000000,256.000000,271.000000,8.000000,1.000000,5.000000
50%,22.000000,38.000000,1.000000,189.000000,184.000000,258.000000,278.000000,16.000000,1.000000,10.000000
75%,44.000000,57.000000,2.000000,197.000000,189.000000,259.000000,280.000000,28.000000,1.000000,15.000000
max,81.000000,78.000000,6.000000,212.000000,197.000000,272.000000,288.000000,56.000000,21.000000,20.000000

In [9]:
# Find columns with missing values
data.isnull().any()

Time              False
Driver            False
DriverNumber      False
LapTime            True
LapNumber         False
Stint             False
PitOutTime         True
PitInTime          True
Sector1Time        True
Sector2Time       False
Sector3Time       False
SpeedI1            True
SpeedI2           False
SpeedFL            True
SpeedST           False
IsPersonalBest    False
Compound          False
TyreLife          False
FreshTyre         False
Team              False
LapStartTime      False
LapStartDate      False
TrackStatus       False
Position          False
Deleted           False
DeletedReason      True
IsAccurate        False
dtype: bool

In [10]:
# Display the first 5 rows
data.head(5)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
0,0 days 01:03:27.458000,VER,1,0 days 00:01:24.238000,1.0,1.0,NaN,NaN,NaN,0 days 00:00:37.420000,...,1.0,True,Red Bull Racing,0 days 01:02:02.950000,2023-05-28 13:03:03.927,12,1.0,False,NaN,False
1,0 days 01:04:46.825000,VER,1,0 days 00:01:19.367000,2.0,1.0,NaN,NaN,0 days 00:00:20.954000,0 days 00:00:37.366000,...,2.0,True,Red Bull Racing,0 days 01:03:27.458000,2023-05-28 13:04:28.435,1,1.0,False,NaN,True
2,0 days 01:06:05.899000,VER,1,0 days 00:01:19.074000,3.0,1.0,NaN,NaN,0 days 00:00:20.854000,0 days 00:00:37.288000,...,3.0,True,Red Bull Racing,0 days 01:04:46.825000,2023-05-28 13:05:47.802,1,1.0,False,NaN,True
3,0 days 01:07:24.028000,VER,1,0 days 00:01:18.129000,4.0,1.0,NaN,NaN,0 days 00:00:20.835000,0 days 00:00:36.637000,...,4.0,True,Red Bull Racing,0 days 01:06:05.899000,2023-05-28 13:07:06.876,1,1.0,False,NaN,True
4,0 days 01:08:42.047000,VER,1,0 days 00:01:18.019000,5.0,1.0,NaN,NaN,0 days 00:00:20.745000,0 days 00:00:36.734000,...,5.0,True,Red Bull Racing,0 days 01:07:24.028000,2023-05-28 13:08:25.005,1,1.0,False,NaN,True

In [11]:
# Display the last 5 rows
data.tail(5)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
1508,0 days 02:45:26.431000,PIA,81,0 days 00:01:27.443000,73.0,2.0,NaN,NaN,0 days 00:00:23.295000,0 days 00:00:42.212000,...,19.0,True,McLaren,0 days 02:43:58.988000,2023-05-28 14:44:59.965,1,10.0,False,NaN,True
1509,0 days 02:46:52.616000,PIA,81,0 days 00:01:26.185000,74.0,2.0,NaN,NaN,0 days 00:00:22.381000,0 days 00:00:42.112000,...,20.0,True,McLaren,0 days 02:45:26.431000,2023-05-28 14:46:27.408,1,10.0,False,NaN,True
1510,0 days 02:48:18.759000,PIA,81,0 days 00:01:26.143000,75.0,2.0,NaN,NaN,0 days 00:00:22.061000,0 days 00:00:42.272000,...,21.0,True,McLaren,0 days 02:46:52.616000,2023-05-28 14:47:53.593,1,10.0,False,NaN,True
1511,0 days 02:49:44.374000,PIA,81,0 days 00:01:25.615000,76.0,2.0,NaN,NaN,0 days 00:00:21.991000,0 days 00:00:41.496000,...,22.0,True,McLaren,0 days 02:48:18.759000,2023-05-28 14:49:19.736,1,10.0,False,NaN,True
1512,0 days 02:51:09.159000,PIA,81,0 days 00:01:24.785000,77.0,2.0,NaN,NaN,0 days 00:00:21.970000,0 days 00:00:40.944000,...,23.0,True,McLaren,0 days 02:49:44.374000,2023-05-28 14:50:45.351,1,10.0,False,NaN,True

In [12]:
# Access a specific column 
data['Driver']

0       VER
1       VER
2       VER
3       VER
4       VER
       ...
1508    PIA
1509    PIA
1510    PIA
1511    PIA
1512    PIA
Name: Driver, Length: 1513, dtype: object

In [13]:
# Get multiple statistics for a column
data['Stint'].describe()

count    1513.000000
mean        1.775942
std         0.942474
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: Stint, dtype: float64

In [14]:
# Operations on numeric columns
data['LapNumber'] + 1

0        2.0
1        3.0
2        4.0
3        5.0
4        6.0
        ...
1508    74.0
1509    75.0
1510    76.0
1511    77.0
1512    78.0
Name: LapNumber, Length: 1513, dtype: float64

In [15]:
# View unique (non-repeating) values of a column
data['Team'].unique()

array(['Red Bull Racing', 'Alpine', 'Aston Martin', 'Ferrari', 'Williams',
       'Haas F1 Team', 'AlphaTauri', 'Alfa Romeo', 'McLaren', 'Mercedes'],
      dtype=object)

In [16]:
len(data['Team'].unique())

10

In [17]:
# Access multiple columns
data[['Driver', 'Team']]

     Driver             Team
0       VER  Red Bull Racing
1       VER  Red Bull Racing
2       VER  Red Bull Racing
3       VER  Red Bull Racing
4       VER  Red Bull Racing
...     ...              ...
1508    PIA          McLaren
1509    PIA          McLaren
1510    PIA          McLaren
1511    PIA          McLaren
1512    PIA          McLaren

[1513 rows x 2 columns]

In [18]:
# Get a list of values from a column and access aneElement
data['Team'].values[180]

'Red Bull Racing'

In [19]:
# Access row 1280, column 1 (zero-indexed)
data.iloc[1280, 1]

'SAI'

In [20]:
# Sort by the 'LapTime' column
data.sort_values(['LapTime'])

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TyreLife,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,IsAccurate
1157,0 days 01:45:31.903000,HAM,44,0 days 00:01:15.650000,33.0,2.0,NaN,NaN,0 days 00:00:19.760000,0 days 00:00:35.647000,...,2.0,True,Mercedes,0 days 01:44:16.253000,2023-05-28 13:45:17.230,1,8.0,False,NaN,True
355,0 days 02:02:23.489000,LEC,16,0 days 00:01:15.773000,46.0,2.0,NaN,NaN,0 days 00:00:19.996000,0 days 00:00:35.718000,...,2.0,True,Ferrari,0 days 02:01:07.716000,2023-05-28 14:02:08.693,1,8.0,False,NaN,True
126,0 days 02:06:14.872000,GAS,10,0 days 00:01:15.831000,49.0,2.0,NaN,NaN,0 days 00:00:19.843000,0 days 00:00:35.692000,...,2.0,True,Alpine,0 days 02:04:59.041000,2023-05-28 14:06:00.018,1,8.0,False,NaN,True
127,0 days 02:07:30.827000,GAS,10,0 days 00:01:15.955000,50.0,2.0,NaN,NaN,0 days 00:00:20.045000,0 days 00:00:35.628000,...,3.0,True,Alpine,0 days 02:06:14.872000,2023-05-28 14:07:15.849,1,8.0,False,NaN,True
359,0 days 02:07:29.057000,LEC,16,0 days 00:01:15.956000,50.0,2.0,NaN,NaN,0 days 00:00:19.730000,0 days 00:00:35.934000,...,6.0,True,Ferrari,0 days 02:06:13.101000,2023-05-28 14:07:14.078,1,7.0,False,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,0 days 02:38:48.233000,TSU,22,0 days 00:02:17.012000,68.0,2.0,NaN,NaN,0 days 00:00:25.629000,0 days 00:01:21.925000,...,15.0,True,AlphaTauri,0 days 02:36:31.221000,2023-05-28 14:37:32.198,12,13.0,False,NaN,True
1257,0 days 02:15:32.997000,SAI,55,0 days 00:02:19.381000,55.0,2.0,NaN,0 days 02:15:04.653000,0 days 00:00:27.227000,0 days 00:01:01.073000,...,22.0,True,Ferrari,0 days 02:13:13.616000,2023-05-28 14:14:14.593,12,8.0,False,NaN,False
947,0 days 02:15:34.526000,HUL,27,0 days 00:02:19.643000,54.0,2.0,NaN,0 days 02:15:00.544000,0 days 00:00:27.923000,0 days 00:00:56.020000,...,53.0,True,Haas F1 Team,0 days 02:13:14.883000,2023-05-28 14:14:15.860,12,18.0,False,NaN,False
574,0 days 02:24:30.971000,MAG,20,0 days 00:02:26.648000,58.0,2.0,NaN,NaN,0 days 00:01:08.435000,0 days 00:00:50.544000,...,2.0,True,Haas F1 Team,0 days 02:22:04.323000,2023-05-28 14:23:05.300,12,19.0,False,NaN,True
572,0 days 02:20:16.305000,MAG,20,NaN,56.0,1.0,NaN,0 days 02:19:25.914000,0 days 00:00:38.677000,0 days 00:01:03.774000,...,56.0,True,Haas F1 Team,0 days 02:17:04.203000,2023-05-28 14:18:05.180,12,19.0,False,NaN,False

<div class='alert alert-block alert-warning'>
    <strong>NOTE:</strong> The previous operations are not 'inplace', meaning they do not modify the DataFrame, they only query it.
</div>

In [21]:
# Get the maximum, mean, and minimum number of laps a set of tires was used
mean_life = data['TyreLife'].mean()
min_life = data['TyreLife'].min()
max_life = data['TyreLife'].max()

print(min_life, mean_life, max_life)

1.0 19.2690019828156 56.0

In [22]:
# Change the type of a series of columns to int
data[['DriverNumber', 'LapNumber', 'Stint', 'TyreLife', 'TrackStatus', 'Position']] = data[['DriverNumber', 'LapNumber', 'Stint', 'TyreLife', 'TrackStatus', 'Position']].astype(int)

In [23]:
# Add a new column
data['New_Column_1'] = 1 # All rows will have the same value
data['New_Column_2'] = list(range(len(data))) # New column created from a list of values (as many as rows)
data['New_Column_3'] = data['Stint'] + 1 # New column created from another column

In [24]:
# Delete columns
data = data.drop(columns = ['New_Column_1', 'New_Column_2', 'New_Column_3'])
# This is equivalent to:
# data.drop(columns = ['New_Column_1', 'New_Column_2', 'New_Column_3'], inplace = True)

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of unique drivers.
</div>

In [25]:
# Your code here

len(data['Driver'].unique())

20

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Change the type of the columns: 'Time', 'LapTime', 'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time', and 'LapStartTime' to <a href="https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html"><i>timedelta</i></a>.
</div>

In [27]:
time_columns = ['Time', 'LapTime', 'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time', 'LapStartTime']
# Your code here

for col in time_columns:
    data[col] = pd.to_timedelta(data[col])

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Change the type of the column: 'LapStartDate' to <a href="https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html"><i>datetime</i></a>.
</div>

In [28]:
# Your code here
data['LapStartDate']=pd.to_datetime(data['LapStartDate'])

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Which driver has been the best in the first sector? And in the second sector?
</div>

In [29]:
# Your code here
data.sort_values("Sector1Time").Driver.values[0]

'LEC'

In [30]:
# Your code here
data.sort_values("Sector2Time").Driver.values[0]

'GAS'

### **Data Filtering**

In [ ]:
# Get the value of a specific cell
data.loc[572, 'Team']

In [ ]:
# Get the laps of drivers whose team is 'Ferrari'
data_ferrari = data.loc[data['Team'] == 'Ferrari']
data_ferrari

In [ ]:
# Get all laps 1 and 2 of the drivers
data.loc[data['LapNumber'] <= 2]

In [ ]:
# Get lap 10 of the drivers from 'Ferrari'
data_ferrari_10 = data.loc[(data['LapNumber'] == 10) & (data['Team'] == 'Ferrari')]
data_ferrari_10

In [ ]:
# Get the laps of the drivers 'SAI' or 'LEC'
data.loc[(data['Driver'] == 'SAI') | (data['Driver'] == 'LEC')]

In [ ]:
# Another option for getting the  laps of the drivers 'SAI' or 'LEC'
data.loc[data['Driver'].isin(['SAI', 'LEC'])]

In [ ]:
# Get laps from teams that contain 'Bull'
data.loc[data['Team'].str.contains('Bull')]

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Fix the NaT values in the times of the columns 'Sector1Time' and 'LapTime'.
</div>

In [68]:
# Your code here
#print(data["Sector1Time"].isna )
#print(data["LapTime"].isna)

#Solucion dada mal
#data["Sector1Time"]=data["LapTime"]-data["Sector2Time"]-data["Sector3Time"]
#data.loc[572,'LapTime']=data.loc[572, "Sector1Time"] + data.loc[572, "Sector2Time"] + data.loc[572, "Sector3Time"]


#Solución real
aux=data[data['Sector1Time'].isna()]
for index, rows in aux.iterrows():
    data.at[index, "Sector1Time"]=rows["LapTime"]-rows["Sector2Time"]-rows["Sector3Time"]

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the average lap time of 'AlphaTauri' drivers between laps 1 and 20 (inclusive).
</div>

In [63]:
# Your code here
aux=data.loc[(data["Team"]=="AlphaTauri") & (data["LapNumber"]<=20) & (data["LapNumber"]>=1)]
print(aux["LapTime"].mean())

0 days 00:01:19.966000

<div class="alert alert-block alert-info">
    <b>Exercise:</b> What was the maximum speed at the finish line for Alonso? And for Verstappen? In which laps?
</div>

In [79]:

alonso_speed = data.loc[data["Driver"] == "ALO"]
alonso_maxSP = alonso_speed["SpeedFL"].max()

alonso_aux_lap = data.loc[(data["Driver"] == "ALO") & (data["SpeedFL"] == alonso_maxSP)]
alonso_lap = alonso_aux_lap["LapNumber"].values[0]

print(f"Alonso speed: {alonso_maxSP}, Alonso lap: {alonso_lap}")

Alonso speed: 265.0, Alonso lap: 34

In [82]:
VER_speed = data.loc[data["Driver"] == "VER"]
VER_maxSP = VER_speed["SpeedFL"].max()

VER_aux_lap = data.loc[(data["Driver"] == "VER") & (data["SpeedFL"] == VER_maxSP)]
VER_lap = alonso_aux_lap["LapNumber"].values[0]

print(f"VER speed: {VER_maxSP}, VER lap: {VER_lap}")

VER speed: 261.0, VER lap: 34

### **Data Grouping**

In [ ]:
# Get the number of drivers per team
data.groupby('Team')['Driver'].nunique().reset_index()

In [ ]:
# List of drivers by team
data.groupby('Team')['Driver'].unique().reset_index()

In [ ]:
# Another option to get the list of drivers by Team
data.groupby('Team')['Driver'].apply(lambda x: list(set(x))).reset_index()

In [ ]:
# Number of laps per driver ordered from highest to lowest
data.groupby('Driver')['LapNumber'].max().sort_values(ascending = False).reset_index()

In [ ]:
# Another option to get the Number of laps per driver ordered from highest to lowest
data.groupby('Driver')['LapNumber'].size().sort_values(ascending = False).reset_index()

In [ ]:
# Average speed at the finish line for each team
data.groupby('Team')['SpeedFL'].mean().sort_values(ascending = False).reset_index()

In [ ]:
# Another option that allows customizing the name of the new column and creating multiple at once
data.groupby('Team').agg(AvgFlSpeed = ('SpeedFL', 'mean')).sort_values('AvgFlSpeed', ascending = False).reset_index()

In [ ]:
# The Pivot Table allows grouping data in a more complex way.
# In this example, it shows for each Driver from each Team, the Number of Laps they did with each compound, as well as the totals for rows and columns (margins).
data.pivot_table(index = ['Team', 'Driver'], columns = ['Compound'], values = 'LapNumber', aggfunc = 'count', fill_value = 0, margins = True, margins_name = 'Total')

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of laps annulled for each driver. Order from highest to lowest.
</div>

In [ ]:
# Your code here

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Get the number of pit stops made by each driver.
</div>

In [ ]:
# Your code here

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Create a table where the rows show the teams and drivers, and the columns represent the first 10 laps. The lap time should be displayed in seconds (using time.dt.total_seconds()).
</div>

In [ ]:
# Your code here

### **Final Cleanup and Storage of the DataFrame**

To ensure that this dataset is ready for future use in practice, we will remove certain rows and columns that won't contribute useful information to the problems we'll solve.

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Remove all rows where 'TrackStatus' is not equal to 1 and those that correspond to a pit stop. The latter will have a value in 'PitOutTime' or 'PitInTime'. Sort by 'Time' in ascending order and reset the index using `reset_index(drop=True)` to reassign the row indices.
</div>

In [ ]:
# Your code here

<div class="alert alert-block alert-info">
    <b>Exercise:</b> Finally, remove the columns "Deleted", "DeletedReason", "IsAccurate", "TrackStatus", "PitOutTime", and "PitInTime".
</div>

In [ ]:
# Your code here

Once this phase of analysis and cleaning of the dataset is completed, we will store the Pandas DataFrame in a `Pickle` file.
It is possible to store it as `CSV` or `XLSX`, but these formats do not preserve the column types. This would mean that when loading it in the future, we would have to re-cast (`.astype()`) each column.

In [ ]:
data.to_pickle('f1_23_monaco.pkl')